doctype html 
html 
    head
        link(rel='stylesheet' href="/mobile.css" media ="screen and (min-width:0px) and (max-width:767px)" type="text/css")
        link(rel='stylesheet' href="/main.css" type="text/css" media="screen and (min-width:768px) and (max-width:2000px)")
        title 환영합니다 #{title} 
        meta(name="viewport", content="width=device-width, user-scalable=no")
        meta(charset="utf-8")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/sequelize.js")
        
    body    
    header.header
        a(href="http://39.115.162.208:30000/" target="_self")
         img(src="/imgs/?name=header.gif" width= '100%' )  
           